* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: 50px;
    text-align: center;
}

fieldset {
    padding: 20px;
    margin: 20px;
    border: 5px rgb(39, 185, 71) solid;
    border-radius: 7px;
}

div {
    margin: 10px;
}

#botões {
    text-align: center;
}

button {
    padding: 10px;
    background-color: cadetblue;
    font-size: 18px;
    border-radius: 12px;
}